<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" />
    <title>UR Controller</title>

    <link rel="stylesheet" href="static/style.css" />
    <script type="text/javascript" src="static/before.js"></script>
</head>

<body>
    <div>
        <h1>UR Controller</h1>
        <div>
            <p>Loaded on: {{ load_on_time }}</p>
        </div>

        <div>
            <p>The mouse panel is clickable</p>
            <div id="mouse-panel-1">
                <p id="mouse-panel-label-1">x=?, y=?</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="static/after.js"></script>
</body>

</html>